<h1>User</h1>

<div class="actions">
  <a href="/user/edit/<%= user.id %>" class="btn">Edit</a>
</div>
<table>
  <tbody>
      <tr>
        <th>User</th>
        <td><%= user.name %></td>
      </tr>
      <tr>
        <th>Email</th>
        <td><%= user.email %></td>
      </tr>
      <tr>
        <th>Type</th>
        <td>
          <% if (user.admin) { %>
            Admin
          <% } else { %>
            User
            <% } %>
        </td>
      </tr>
      <tr>
        <th>Updated at</th>
        <td><%= user.updatedAt %></td>
      </tr>
  </tbody>
</table>
<div class="actions">
  <a href="/user/edit/<%= user.id %>" class="btn">Edit</a>
</div>
